.Imgcontainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  color: #fff;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  background: url('./PALogoFinal.jpg') center center no-repeat; /* Set background image */
  background-size: cover; /* Ensure the image covers the entire container */
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4); /* Add text shadow for better readability */
  position: relative; /* Ensure positioning context for ::before pseudo-element */
  overflow: hidden; /* Ensure no overflow */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  margin-top:1400px;
}

.Imgcontainer::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay for better text visibility */
  z-index: 0; /* Ensure it is behind the text */
  pointer-events: none; /* Ensure it does not interfere with interactions */
}

.subtext {
  font-size: 2rem; /* Adjusted font size for better visibility */
  font-weight: bold;
  color: #dfd1be;
  z-index: 1; /* Ensure it is above the overlay */
  text-align: center; /* Center text */
}

.button {
  padding: 0.75rem 1.5rem; /* Adjusted padding */
  font-size: 1rem;
  color: #fff;
  background: #FF6A00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  align-items: center;
  position: relative;
  z-index: 1; /* Ensure it is above the overlay */
}

@media (max-width: 768px) {
  .Imgcontainer {
    padding-left: 5%; /* Less padding on smaller screens */
    padding-top: 5%; /* Adjust padding-top for smaller screens */
  }

  .subtext {
    font-size: 1.5rem; /* Smaller subtext on smaller screens */
  }

  .button {
    padding: 0.5rem 1rem; /* Smaller button on smaller screens */
  }
}
